version: '3.8'

services:
  db:
    image: postgres:15
    container_name: orders_postgres
    environment:
      POSTGRES_DB: orders
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"